body {
    font-family: 'Oswald', sans-serif;
    margin:0;
    padding:0;
    overflow-x: hidden;
}
.header {
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
    top:0;
}
.navbar {
    width: 100%;
    height: 20vh;
    background-color: #E9E7E8;
    padding: .5em 1em;
    position: relative;
    line-height: 50px;
}
.logo {
    height: 100%;
    width: 60%;
    margin:0;
    padding:0;
    position: relative;
    top:0;
    float: left;
}
.logo_img{
    height: 100%;
    width:100%;
    object-fit: fill;
}
#myButton {
    float: right;
    padding: 1em .5em;
    top: 40%;
    position: relative;
    right: 10%;
    border: none;
    outline: none;
    background-color: transparent;
}
.hamburger{
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
    content:'';
    display: block;
    width: 28px;
    height: 3px;
    background-color: #000000;
    transition: all 250ms ease-in-out;
}
.hamburger::before {
    position: absolute;
    top: 7px;
}
.hamburger::after{
    position: absolute;
    top: -7px;
}

/********* menu *********/

.nav_items {
   display: none;
}
.contact_link {
    font-size: 1.5em;
    text-transform: capitalize;
    padding: .3em 1em;
    background-color:#46326A ;
    color:#fff;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 80%;
}
.contact_link:hover {
    background-color: rgba(57,41,200,.8);
}

/*********onclick show nav_items ********/

.nav_open .logo {
    z-index: 99;
}
.nav_open .nav_items{
    width: 100vw;
    height: 80vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: absolute;
    top: 20vh;
    left:0;
    z-index: 2;
    list-style-type: none;

}
.nav_open .nav_item {
    padding:0;
    margin: 0;
    list-style: none;
}
.nav_open .nav_link {
    font-size: 2em;
    color:#000000;
    font-weight:900;
    text-decoration: none;
    transition: 100ms ease-in-out;
    display: block;
    width: 80%;
    padding: .3em 1em;
    text-transform: uppercase;
}
.nav_open .nav_link:hover {
    background-color: #ED4521;
    color: #fff;
}
.nav_open #myButton {
     z-index: 99;
}
.nav_open .hamburger{
   background-color: transparent;
}
.nav_open .hamburger::before {
    transform: rotate(45deg);
    top: 0;
}
.nav_open .hamburger::after {
    transform: rotate(-45deg);
    top: 0;
}

/************* introduction section *********/

#introduction {
    width: 100vw;
    padding: 1em 0;
    text-align: center;
    position: relative;
    margin: 2em 0;
}
.image_container {
    width: 100%;
    position: relative;
    margin-bottom: 1em;
    padding: 0;
}
.image_container .intro_img {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}
.text_container {
    width: 100vw;
    background-color: #ED4521;
    padding: 2em 0;
    margin:0;
}
.small_heading {
    color: #fff;
    font-weight: 900;
    font-size: 2em;
    position: relative;
    margin: 0;
}
.big_heading {
    font-size: 3em;
    color: #fff;
    font-weight: 900;
    position: relative;
}
.intro_button {
    background-color:#4C3771;
    padding: .8em 1.5em;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border-radius: .3em;
}
.intro_button:hover {
    background-color: rgba(57,41,200,.8);
}

/********* features section ***********/

#lower_intro {
    width: 100vw;
    text-align: center;
    margin-bottom: 1em;
    position: relative;
}
.lower_headers {
    width: 100%;
    margin-bottom: .5em;
    position: relative;
}
.h4_header_lower,
.about_small_header {
    color: #ED4521;
    font-size: 1.5em;
    text-transform: capitalize;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'Langar', cursive;
}
.h1_lower_header,
.about_big_header {
    font-size: 3em;
    text-transform: capitalize;
    margin: 0;
    padding:0;
}
.lower_subsection {
    width: 100vw;
    padding: 1em 0;
    text-align: center;
    position: relative;
}
.lower_subsection .lower_containers_center {
    width: 95%;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
.lower_subsection .lower_containers_center .print_press {
    width: 100%;
    padding:0;
    margin: 0;
    position: relative;
}
.lower_containers_left {
    width: 100vw;
    margin: 0;
    padding: 1em 0;
    position: relative;
}
.lower_containers {
    width: 95%;
    margin: 0 auto;
    position: relative;
}
.split-container-yellow {
    padding: .5em;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #FEC931;
    display:flex;
    justify-content: center;
    align-items: center;
}
.symbol {
    font-size: 20px;
    color: #fff;
}
.split-container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1em;
    position: relative;
}
.split-container .press {
    font-size: 22px;
    text-transform: capitalize;
    margin: .3em 0;
    position: relative;
}
.split-container .small {
    width: 90%;
    font-size: 18px;
    color: rgba(0,0,0,.6);
    margin:0;
    padding: 0;
}
.split-container .low_link {
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
.split-container-red {
    padding: .5em;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #FF4328;
    display:flex;
    justify-content: center;
    align-items: center;
}
.split-container-blue {
    padding: .5em;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    background-color:#1A1E5D;
    display:flex;
    justify-content: center;
    align-items: center;
}
.split-container-purple {
    padding: .5em;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    background-color:#E6498F;
    display:flex;
    justify-content: center;
    align-items: center;
}

/************* about us *********/

#about {
    width: 100vw;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    position: relative;
}
.about_details {
    width: 100%;
    margin:.5em 0;
    padding: 0;
    position: relative;
}
.about_left_container {
    width: 90%;
    padding: 0;
    position: relative;
    margin: .5em auto;
}
.about_empty {
    display:none;
}
.about_img {
    width: 100%;
    padding:0;
    margin:0;
}
.about_right_container {
    width: 100vw;
    margin: 0;
    padding:0;
    position: relative;
}
.about_empty_right-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.empty_header_container {
    width: 220px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 12px solid #EF4B26;
}
.empty_content {
    margin:0;
    padding: 0;
    position: relative;
}
.empty_content .span1 {
    font-size: 4em;
    font-weight: 900;
    text-align: center;
    color: #EF4B26;;
}
.empty_content .span2 {
    font-size: 1.5em;
    text-transform: capitalize;
    font-family: 'Langar', cursive;
}
.about_empty_right {
    width: 90%;
    margin: .5em auto;
    padding: 0 .5em;
    font-size: 16px;
    color: rgba(0,0,0,.9);
    position:relative;
}
.about_small_text_container {
    width: 90%;
    margin: .5em auto;
    padding: 0;
    color: rgba(0,0,0,.6);
}
.about_owner {
    width: 80%;
    margin: 0 auto;
    padding: 1em 0;
}
.owners_photo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 1em;
    position: relative;
}
.owners_photo .owners {
    width: 80%;
    height: 80%;
    border-radius: 50%;
}
.owners_position {
    width: 90%;
    position:relative;
    margin: 0 auto;
}
.owners_name {
    font-size: 1.6em;
    padding: 0;
    margin:0;
    text-transform: capitalize;
}
.name_position {
    font-size: 1em;
    color:#ED4521;
    margin:0;
    padding: 0;
}

/**************** service section ***************/

#service {
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    position: relative;
}
.service_headers {
    width: 90%;
    padding: 1em 0;
    margin: 1em auto;
    background-color: #000000;
    position: relative;
}
.service_small_header {
    color: #ED4521;
    font-size: 1.5em;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: 1em;
    padding-bottom: 0;
    font-family: 'Langar', cursive;
    position: relative;
}
.service_big_header {
    font-size: 3em;
    text-transform: capitalize;
    margin: 0;
    padding:0;
    color: #fff;
    font-weight: 900;
    position: relative;
}
.service_wrapper {
    width: 100vw;
    margin: 0;
    padding: 0;
    position: relative;
}
.center_elements {
    position: relative;
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 1em 0;
}
.image_container_element {
    width: 90%;
    margin: 1em auto;
    position: relative;
    padding: 0;
}
.image_container_element .magazine_printing {
    width: 100%;
    padding:0;
    margin:0;
    position: relative;
}
.branding_container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    padding: .5em 0;
}
.branding_container .branding_symbol {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #FF4328;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.branding_container .branding_symbol span {
    font-size: 22px;
    color: #fff;
    position: relative;
}
.branding_container .branding_text {
    width: 100%;
    margin:0;
    padding: 0;
    position: relative;
}
.branding_text .branding_header {
    font-size: 1.5em;
    text-transform: capitalize;
    padding: .4em 0;
    margin:0;
    position: relative;
}
.branding_text .detail_text {
    font-size: 18px;
    color: rgba(0,0,0,.6);
}
.branding_text .branding_link {
    width: 60%;
    margin: .3em auto;
    padding: .5em 0;
    position: relative;
}
.branding_text .branding_link .b_link {
    font-size: 20px;
    padding: .4em .8em;
    color: #fff;
    background-color: #1A1E5D;
    position: relative;
    text-transform: capitalize;
    text-decoration: none;
}
.branding_text .branding_link .b_link:hover {
    text-decoration: underline;
}
.left_element {
    width: 100%;
    margin: 0;
    padding:0;
}
.left_element .small_wraper_yellow {
    background-color: #FEC931;
    padding: 1em 0;
    margin: 0 auto;
    width: 100%;
    position: relative;
    color: #000000;
}
.small_wrapper_icon {
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 2.5em;
}
.h4_coloring {
    font-size: 1.5em;
    text-transform: capitalize;
    margin: 0;
    position: relative;
    font-weight: 900;
}
.coloring_text {
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    padding: .5em 1em;
    opacity: .8;
}
.coloring_link {
    font-size: 20px;
    background-color: rgba(0,0,0,.2);
    text-transform: uppercase;
    text-decoration: none;
    padding: .3em .6em;
    color: inherit;
}
.coloring_link:hover {
    text-decoration: underline;
}
.small_wraper-blue {
    background-color: #1A1E5D;
    padding: 1em 0;
    margin: 0 auto;
    width: 100%;
    position: relative;
    color: #fff;
}
.small_wraper_orange{
    background-color: #FF4328;
    padding: 1em 0;
    margin: 0 auto;
    width: 100%;
    position: relative;
    color: #fff;
}
.small_wraper_lightblue {
    background-color: #209FFA;
    padding: 1em 0;
    margin: 0 auto;
    width: 100%;
    position: relative;
    color: #fff;
}

/*********** add on services *********/

.more_service {
    width:100vw;
    margin: 0;
    padding: 1m 0;
    background-color:#1A1E5D;
    position: relative;
}
.flyer_container {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding:0;
    background-color:#1A1E5D;
}
.flyer_img_container {
    width: 100%;
    padding:0;
    margin:0;
    position: relative;
}
.flyer_img_container .flyers {
    width: 100%;
    margin:0;
    padding:0;
    position: relative;
}
.flyer_text_container {
    width: 100%;
    text-align: center;
    margin: 0;
    padding-bottom: 2em;
}
.any_help {
    font-size: 20px;
    color:#ED4521;
    font-family: 'Langar', cursive;
    position: relative;
}
.always_ready {
    font-size: 3em;
    color: #fff;
    text-transform: capitalize;
    margin:0;
}
.detailed_text {
    width: 80%;
    margin: 1em  auto;
    border-left: 2px solid #fff;
    text-align: left;
    padding-left: 1em;
    color: rgba(255,255,255,.6);
}
.let_chat {
    font-size: 20px;
    color:#fff;
    background-color:#ED4521;
    padding: .5em 1em;
    text-transform: capitalize;
    text-decoration: none;
}
.let_chat:hover {
    text-decoration: underline;
}

/**************** find the reason why *************/

.reasons_why {
    width: 100vw;
    margin:0;
    padding: 0;
    text-align:center;
    position: relative;
    background-color: #fff;
}
.reason_image_container {
    width:100%;
    position: relative;
    margin:0;
    padding:0;
}
.reason_image_container .card-b {
    width:100%;
    padding: 0;
    margin:0;
    position:relative;
}
.the_right_side {
    width:100%;
    margin:0;
    padding: 0;
    position: relative;
    text-align: center;
}
.the_headers {
    width:100%;
    padding:0;
    margin:0;
    position: relative;
}
.why_header {
    font-size: 20px;
    font-family: 'Langar', cursive;
    position: relative;
    color:#ED4521;
    margin:0;
    text-transform: capitalize;
}
.big_why_header {
    font-size: 3em;
    font-weight:800;
    text-transform: capitalize;
    position: relative;
    margin:0;
    padding:0;

}
.reason_details {
    width:100vw;
    padding:0;
    margin:0;
    position: relative;
    text-align: center;
}
.letter_b {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding:0;
}
.b_capital {
    width: 50px;
    height: 50px;
    margin:0;
    padding:0;
}
.b-text {
    margin:0;
    padding: .5em;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}
.good_marks {
    width: 100%;
    position: relative;
    padding:0;
    margin:0;
}
.quality {
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:0;
    padding:0 .5em;
    position: relative;
}
.quality  small{
    font-size: 12px;
    padding: 0 .3em;
    color:#ED4521;
    margin: 0 ;
    position: relative;
}
.quality .good_p {
    font-size: 14px;
    text-transform: capitalize;
    margin : 0 .2em;
}
.good_links {
    margin: 1em 0;
    position: relative;
    text-align: left;
    padding-left: 1em;
}
.find_more {
    font-size: 18px;
    padding: .5em 1em;
    background-color: #ED4521;
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    transition: .5s ease-in-out;
}
.find_more:hover{
    text-decoration: underline;
}

/*****************contact section ******************/

#contact {
    width: 100vw;
    position: relative;
    margin:0;
    padding:1em 0;
}
.contact_headers {
    width:100%;
    margin:0;
    padding: 1em 0;
    text-align:center;
    position: relative;
    background-color: #000000;
}
.contact_headers .need_help {
    font-size: 22px;
    font-family: 'Langar', cursive;
    position: relative;
    margin-bottom: 0;
    color:#ED4521;
    font-weight: 900;
}
.contact_headers .contact {
    font-size: 3em;
    font-weight: 900;
    position: relative;
    color: #fff;
    margin: 0;
}
.contact_address {
    width:100%;
    padding: 1em 0;
    margin: 0;
    background-color: rgba(0,0,0,.2);
    position: relative;
}
.address_one {
    width: 80%;
    padding:.5em 1em;
    margin: 0 auto;
    background-color: rgba(0,0,0,.2);
    position: relative;
}
.address_one a {
    text-decoration: none;
    color: white;
}
.address_one a:hover{
    text-decoration: underline;
}
.social_media {
    text-align: center;
    padding: 1em 0;;
}
.social_media .facebook_link {
    color:#1A1E5D;
    font-size: 24px;
}
.social_media .facebook_link:hover {
    color:#46326A;
}
.divider {
    width: 60vw;
    height: 2px;
    margin: .5em auto;
    position: relative;
}
.divider hr {
    color:#fff;
    position: relative;
}
/*********** contat form ********/

#form_contact {
    width:100vw;
    height: 80vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}
.message_header {
    text-align:center;
    font-size: 22px;
    font-family: 'Langar', cursive;
    position: relative;
    color:#ED4521;
    font-weight: 900;
}
.my_form {
    width: 75%;
    box-shadow: inset 0 0 10px rgba(0,0,0,.4);
    padding:1em 0;
    margin: 0 auto;
    position: relative;
}
.form_elements {
    width:90%;
    margin:0 auto;
    padding: .5em 0;
    position: relative;
}
.form_input {
    width:100%;
    padding: .3em 0;
    margin:0;
    position: relative;
    left:0;
    line-height: 30px;
    background-color: rgba(0,0,0,.1);
    border:none;
    outline:none;
    border-radius:1em;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    border-bottom:2px solid rgba(0,0,0,.4);
}
.form_input:focus {
    border-bottom:2px solid #46326A;
    color: #ED4521;
}
.form_label {
    font-size: 22px;
    position: absolute;
    left: .5em;
    top: .5em;
    color:rgba(0,0,0,.6)
}
.form_elements-textarea {
    width:90%;
    margin:.5em auto;
    padding: 1em 0;
    position: relative;
}
.form_elements-textarea .form_text {
    width:100%;
    padding: .3em 0;
    margin:0;
    position: relative;
    left:0;
    line-height: 30px;
    background-color: rgba(0,0,0,.1);
    border:none;
    outline:none;
    border-radius:1em;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    border-bottom:2px solid rgba(0,0,0,.4);
}
.form_elements-textarea .form_text:focus {
    border-bottom:2px solid #46326A;
    color: #ED4521;
}
.form_elements-textarea .form_label_message {
    font-size: 22px;
    position: absolute;
    left: .5em;
    top: .8em;
    color:rgba(0,0,0,.6)
}
.form_elements button {
    width: 100%;
    padding: 1em 0;
    text-align:center;
    color:#fff;
    background-color: #1A1E5D;
    cursor: pointer;
    border:none;
    outline: none;
    border-radius: 3em;
    font-size: 1em;
    transition: all 250ms ease-in-out;
    font-weight: 900;
    letter-spacing: .2em;
}
.form_elements button:hover {
    background-color: #46326A;
}
.my_form small {
    text-align: left;
    padding-left: 2em;
    color: rgba(0,0,0,.6);
}

/*********** gallery photo *******/

#gallery {
    width:100vw;
    margin:0;
    padding:0;
    position: relative;
}
.gallery_headers {
    width:100%;
    text-align: center;
    position: relative;
    background-color: rgba(0,0,0,.1);
    margin:0;
    padding: 1em 0;
}
.gallery_h5 {
    text-align:center;
    font-size: 22px;
    font-family: 'Langar', cursive;
    position: relative;
    color:#ED4521;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 0;
}
.gallery_h1 {
    font-size: 3em;
    margin: 0;
    font-weight: 900;
    color: rgba(0,0,0,.6);
    position: relative;
}
.gallery_photo {
    display:grid;
    gap:.3em;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width:90%;
    position: relative;
}
.gallery_images {
    width:100%;
    margin: 0;
    padding: 0;
}





